@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

.App {
  padding: 2vh;
}

body{
  background-color: black;
  color: azure;
  font-family: "Space Mono", monospace;
}

.main-head{
  font-family: "Jacquard 12", serif;
  color: darkcyan;
  font-size: 10vh;
  margin: 0;
  padding-left: 2vh;
  font-weight: 100;
}

.items-head{
  font-style: italic;
}

.items{
  padding: 5vh;
}

