@import url("https://fonts.googleapis.com/css2?family=Jacquard+12&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap");

#root {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-head {
  font-family: "Jacquard 12", serif;
  color: darkcyan;
  font-size: 10vh;
  margin: 0;
  padding-left: 2vh;
  font-weight: 100;
}
