@import url("https://fonts.googleapis.com/css2?family=Jersey+15&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacquard+24+Charted&display=swap");

#root {
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

.main-head {
  font-family: "Jacquard 24 Charted", system-ui;
  text-align: center;
  color: #ff3366;
  font-size: 10vh;
  margin-bottom: 2vh !important;
  font-weight: 100;
  outline: #ff3366 solid 0.1vh;
}

.item-box {
  font-family: "Jersey 15", sans-serif;
  outline: #9649cb solid 0.1vh;
  padding: 2vh;
}

.viewport-box{
  height: 50vh;
}